# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Egg
splynx_api.egg-info

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea
